
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    width : 80%;
    margin : auto;
    height: 1000px;
}

#main{
    height: 600px;
    background : center/25% no-repeat url(https://images.unsplash.com/photo-1611251135345-18c56206b863?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    transform: translateY(2.5%);
    width : 70%;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px darkorange;
}

h1{
    font-family: monospace;
    font-size: 36px;
    color: orange;
    text-align: center;
    text-shadow: 1px 1px 2px#32569c, 1px -1px 2px#32569c, -1px 1px 2px#32569c, -1px -1px 2px#32569c;
    text-transform: uppercase;
}

#controls{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    margin: 10px auto;
    transform: translateY(25px);
}


button{
    color: black;
    font-family: monospace;
    font-size: xx-large;
    border-radius: 5px;
    height: 100%;
    /* border: 2px solid darkslategray; */
    box-shadow: 1px 1px 3px 0px darkslategray;
    transition: box-shadow transform cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
}

#PLAYER1{
    flex-grow: 1;
    background-color:skyblue;
}
#PLAYER2{
    flex-grow: 1;
    background-color: lawngreen;
}
#reset{
    flex-grow: 1;
    background-color: whitesmoke;
}

button:active{
    transform: translateY(-2px); 
    box-shadow: 1px 1px 2px 1px black;
    color: darkred;
}

#scores{
    font-family: monospace;
    width : 70%;
    font-size: xx-large;
    display: block;
    margin: 0 auto;
    text-align: center;
}

#count{
    height: 35px;
    width: 45px;
    box-shadow: 0px 0px 5px 0px #32569c;
    border-radius: 5px;
    border: 1px solid black;
    transform: translateY(-4px);
}
#values{
    font-size: large;
}
